.textChat::placeholder{
color: #ffffff;
}

.textChat:focus{
    border: none;
    outline: none;
}

.overEdit::-webkit-scrollbar{
    background-color: aqua;
    width: 10px;
    border-radius: 5px;
}

.overEdit::-webkit-scrollbar-track{
    background-color: #64696c;
    border-radius: 5px;
}

.overEdit::-webkit-scrollbar-thumb{
    background-color: #343a40;
    border-radius: 5px;
}